.App {
    text-align: flex-start;
  }

  .App-header {
    height: 150px;
    padding: 6px;
    color: rgb(142, 179, 204);
  }

  .App-title {
    font-size: 1.5em;
  }

li {
  list-style: none;
  color: rgb(142, 179, 204);
}

.nav-list {
  display: flex;
  justify-content: center;
}