.App {
  justify-items: inherit;
}
h1 {
  color: rgb(142, 179, 204);
  padding-left: 15px;
}
.navbar-menu {
  display: flex;
  justify-content: flex-start;
}

li {
  list-style: none;
  color: rgb(142, 179, 204);
  padding-left: 37px;
}

.nav-list {
  display: flex;
  justify-content: center;
  padding: 11px;
}
