* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(142, 179, 204);
}

.content img {
  margin-top: 12px;
  vertical-align: middle;
  width: 100%;
  height: auto;
}

.content {
  float: left;
  width: 20%;
  padding: 10px;
  white-space: nowrap;
  vertical-align: middle;
}
