* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(142, 179, 204);
}

.content img {
  margin-top: 75px;
  margin-bottom: -75px;
  width: 100%;
  height: auto;
  vertical-align: middle;
}

.content {
  display: inline-block;
  width: 20%;
  white-space: nowrap;
  vertical-align: middle;
}

ul {
  list-style: none;
}
